# Einzelne Datei ignorieren
.env

# Ordner ignorieren (mit Slash!)
__pycache__/
.venv/
venv/
app/__pycache__/

# Alle .log-Dateien ignorieren
*.log

# Alle .pyc-Dateien ignorieren
*.pyc

# Dateien in bestimmten Unterordnern
app/static/uploads/*

